html {
    scroll-padding-top: 65px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin:55px auto;
}
header, footer{
    background-color: black;
    color: white;
    width: 100%;
    padding: 1.2em 0 1.2em 5%;
    /*padding-left: 5%;*/
}

header{ 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; /*video controls would go on-top otherwise*/
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 1em;
    margin: 0px;
    padding: 0px;
}
li a:link, li a:visited{
    text-decoration: none;
    color: white;
}
li a:hover{
    color: red;
    text-decoration: underline;
}


main{
    margin: 0px auto;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: silver;
    height: 200px;
    border-radius: 25px;
}
.title h1, .title h3{
    margin: .5em;
    font-weight: 800;
}
.title h3{
    text-transform: capitalize;
}


.products{
    display: grid;
    justify-content: center;
}
.products > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;   
}
.prodimg{
    max-width: 100%;
}
.products p{
    text-align: justify;
}



form{
    display: grid;
    background-color: silver;
    border-radius: 15px;
    grid: "t"
          "n"
          "e"
          "b";
    justify-content: center; 
    gap: 5px;
    margin-top: 2em;   
    padding: .8em;  
}
form #header{
    grid-area: t;
    justify-self: center;
}
form #n{
    grid-area: n;
}
#name, #email{
    box-shadow: 1px 1px 1px 1px  black;
    border-radius: 4px;
}
form #e{
    grid-area: e;
}
form button{
    grid-area: b;
    justify-self: center;
    width: max-content;
    background-color: silver;
    border-radius: 4px;
}


@media screen and (min-width: 1000px){
    .products{
        grid-template-columns: repeat(3, 1fr);
    }  
    #computers, #chior {
        padding-right: .8em;
    }
    #candy, #chior {
        padding-left: .8em;
    }
    .products > div:not(div:last-child){
        border-right: 2px solid slategray;
        justify-content: center;
    }

    form{
        grid: "t t t"
              "n e b";
    }
    
}


caption{
    caption-side: top;
}
#table_wrapper{
    overflow-x: auto;
}
table{
    margin: auto;
    border-collapse: collapse;
    text-align: end; 
    width: 720px;
}
th{
    text-align: center;
}
tbody tr:nth-child(odd){
    background-color: rgb(231, 229, 229);
}
th, td{
    min-width: auto;
    border: 2px solid black;
}
td:first-of-type{
    font-weight: bold;
}
td:not(td:nth-of-type(1)){
    color: gray;
}
tr td:last-of-type{
    color: red;
}
th:hover, tr:hover{
    background-color: lightskyblue !important;
}

article{
    margin-bottom: 6em;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 5%;
}